@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", "sans-serif";
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.progress-ring__circle {
  transition: stroke-dashoffset ease-in-out 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* 스크롤바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* 스크롤바 바깥쪽 테두리 */
}
